* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 1200px;
  margin: 0 auto;
}
.hero-bcg {
  background-color: #f2f2f266;
}
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero-title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #ff9900;
}

.hero-heading {
  width: 444px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 58px;
  margin: 20px 0;
}
.hero-text {
  width: 440px;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: rgba(35, 47, 62, 0.48);
  margin-bottom: 20px;
}
.hero-href {
  width: 60%;
  display: flex;
  justify-content: space-between;
}
.hero-link {
  text-decoration: none;
  padding: 9px 14px;
  background: #146eb4;
  color: #ffd;
}
.active {
  background: #fff;
  color: #146eb4;
  border: 1px solid #146eb4;
}
.hero-right img {
  margin-top: 1rem;
}
